ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #111;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #333;
}

.marginLeft20px {
	margin-left: 20px;
}

*::-moz-selection {
	background: #D2DAEC; /*---Cor de fundo-- #e7e7e7*/
	color: black; /*--cor da fonte--*/
}

*::selection {
	background: #D2DAEC; /*---Cor de fundo--*/
	color: black; /*--cor da fonte--*/
}
